@charset "UTF-8";

/*--slick--*/

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/*--end slick--*/

/*--------------------adjustment----------------------*/

html.freeze {
  overflow-y: hidden;
}

html.freeze body {
  overflow-y: hidden;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.btn-blue {
  background-color: rgba(0, 42, 147, 0.7);
}

.hidden {
  display: none;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}

._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  padding-bottom: 80%;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

.pagination-catalog {
  margin-bottom: 36px;
}

.description-text h2 {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.description-text p {
  margin-bottom: 10px;
}

.cart-page__right .accordion__content.hidden,
.cart-page__left .accordion__content.hidden {
  display: none !important;
}

.cart-page__right .accordion__item.active .accordion__link:after,
.cart-page__left .accordion__item.active .accordion__link:after {
  visibility: hidden;
}

.cart-page__right .accordion__link,
.cart-page__left .accordion__link {
  position: relative;
  padding-right: 40px;
}

.cart-page__right .accordion__link:after,
.cart-page__left .accordion__link:after {
  content: '';
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../img/icons-svg/chevron-down.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/*--------------------END adjustment----------------------*/

/*--------------------header----------------------*/

.header-filter * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#accountBtn {
  color: #E86667;
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__filter-toggler {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 40px 13px 60px;
  max-width: 298px;
  margin: 17px auto 25px auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  background-position: 35px 12px;
  background-image: url(../img/icons-svg/magnifier.svg);
  background-repeat: no-repeat;
}

/*--------------------END header----------------------*/

/*--------------------announcement----------------------*/

.detail-page .info-cart-data {
  padding-left: 20px;
}

.detail-page .cart-page__left h2 {
  padding-left: 35px;
}

.cart-page__left .main-cart-parameters li:before {
  width: 10px;
  height: 11px;
  top: 6px;
  left: 7px;
  background-size: contain;
}

.cart-page__left .prod-cart-parameters li:before {
  width: 6px;
  height: 6px;
  top: 6px;
  left: 4px;
}

.wrap-new-main__second-box .btn {
  display: block;
  margin-top: 44px;
  max-width: 140px;
  margin-left: auto;
  margin-right: auto;
}

.detail-page .catalog-page__list .catalog-page-item .price__per-meter span {
  font-size: 12px;
  display: inline-block;
  font-weight: 400;
}

.detail-page .catalog-page__list .catalog-page-item .price__second {
  display: none;
}

/*--------------------END announcement----------------------*/

/*--------------------_right-sidebar----------------------*/

.right-info .author div {
  font-size: 12px;
}

.right-info .num-short .btn {
  font-size: 14px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 180px;
  background-color: rgba(0, 42, 147, 0.7);
  color: #fff;
  font-weight: 900;
}

.wrap-new-main__second-box ul li {
  margin-top: 0;
}

.wrap-new-main__second-box ul li:not(:last-child) {
  margin-bottom: 10px;
}

.wrap-new-main__second-box ul li a {
  color: #3E3E3E;
}

.map-toggle {
  margin-top: 11px;
  font-size: 14px;
  color: #139E19;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.object-map-box__close {
  padding: 10px 10px 5px 10px;
  text-align: center;
  background-color: #EEEFF3;
}

.object-map-box__close button {
  margin-top: 11px;
  font-size: 1em;
  color: #139E19;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-page__right .right-image {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.cart-page__right .right-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart-page__right .accordion__item {
  width: 100%;
}

.cart-page__right .accordion__link {
  position: relative;
  padding-right: 40px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 13px;
  color: #002A93;
}

/*--------------------END _right-sidebar----------------------*/

/*--------------------cart-page__left----------------------*/

.cart-page__left .catalog-page-item .object-map-box {
  display: none;
  margin: 23px 0;
}

.cart-page__left .catalog-page-item .object-map-box.active .object-map-box__close {
  display: block;
}

.cart-page__left .catalog-page-item .object-map--big {
  margin-bottom: 0;
}

.cart-page__left .catalog-page-item .address {
  font-size: 1em;
}

.cart-page__left .praongallery {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cart-page__left .praongallery * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cart-page__left .description-object {
  font-size: 0.875em;
}

.cart-page__left .main-cart-parameters li,
.cart-page__left .prod-cart-parameters li,
.cart-page__left .description-object li {
  font-size: 1em;
}

.praongallery__slider.slick-dotted {
  margin-bottom: -7px;
}

.praongallery__slider .slick-prev,
.praongallery__slider .slick-next {
  width: 32px;
  height: 32px;
  top: 190px;
}

.praongallery__slider .slick-prev {
  left: -30px;
}

.praongallery__slider .slick-next {
  right: -30px;
}

.praongallery__slider .slick-prev:before,
.praongallery__slider .slick-next:before {
  content: '';
  width: 32px;
  height: 32px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.praongallery__slider .slick-next:before {
  background-image: url(../img/static/knportal_base/img/a-next.png);
}

.praongallery__slider .slick-prev:before {
  background-image: url(../img/static/knportal_base/img/a-prev.png);
}

.praongallery__slider .slick-dots {
  margin-top: 14px;
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -3.5px;
  margin-right: -3.5px;
}

.praongallery__slider .slick-dots li {
  width: auto;
  height: auto;
  margin: 0;
  display: block;
  margin-left: 3.4px;
  margin-right: 3.4px;
  margin-bottom: 7px;
}

.praongallery__slider .slick-dots li a {
  width: 98px;
  height: 80px;
  display: block;
}

.praongallery__slider .slick-dots li a img {
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.praongallery__slide {
  height: 379px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.praongallery__slide img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.info-cart-data-mob {
  margin-bottom: 13px;
  font-size: 1em;
}

.info-cart-data-mob img {
  width: 25px;
  margin: -2px 2px 0 7px;
  display: inline-block;
  vertical-align: middle;
}

.prices-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  margin-bottom: 20px;
  overflow: hidden;
}

.prices-mob__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding-right: 15px;
}

.prices-mob__item:not(:last-child) {
  border-right: 0.5px solid rgba(62, 62, 62, 0.5);
}

.prices-mob__item:not(:first-child) {
  padding-left: 15px;
}

.prices-mob__val {
  font-weight: 500;
  margin-bottom: 8px;
  color: #000;
}

/*--------------------END cart-page__left----------------------*/

/*--------------------catalog-page__filter----------------------*/

.landing-page .filter-catalog-page {
  padding: 15px 24px;
}

.ann-list-page .catalog-page .sort span {
  font-weight: 500;
}

.ann-list-page .catalog-page .sort a {
  color: rgba(0, 0, 0, 0.8);
}

.ann-list-page .catalog-page__list .catalog-page-item .address {
  margin-top: 20px;
}

.ann-list-page .catalog-page__list .catalog-page-item .org {
  display: none;
}

.ann-list-page .catalog-page__list .catalog-page-item .view-map {
  margin-top: 10px;
}

.ann-list-page .catalog-page__list .catalog-page-item .num-short .info-phone {
  left: -160px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.ann-list-page .catalog-page__list .catalog-page-item .button-object__phone .show-num {
  display: none;
}

.ann-list-page .catalog-page__list .catalog-page-item .price__per-meter span {
  font-size: 12px;
  display: inline-block;
  font-weight: 400;
}

.ann-list-page .catalog-page__list .catalog-page-item .price__second {
  display: none;
}

.filter-catalog-page {
  color: #3E3E3E;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter-catalog-page__block:last-child .filter-catalog-page__item {
  margin-bottom: 0;
}

.filter-catalog-page__title {
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-catalog-page__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-catalog-page__checkbox {
  width: 18px;
  height: 18px;
  margin-right: 17px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border: 1px solid #3E3E3E;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.filter-catalog-page__val {
  font-size: 14px;
  line-height: 16px;
}

.mob-sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-bottom: 27px;
  margin-top: 24px;
}

.mob-sort__button {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding: 9px 20px;
  border: 0.3px solid #000000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #002A93;
  text-decoration: none;
}

.mob-sort__button.active .mob-sort__dropdow {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.mob-sort__button img {
  max-width: 20px;
  min-height: 20px;
  margin-left: 6px;
}

.mob-sort__dropdow {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  width: 100%;
  min-width: 290px;
  position: absolute;
  left: 0;
  top: 105%;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #000000;
  border-top: none;
  background-color: #fff;
  z-index: 98;
}

/*--------------------END catalog-page__filter----------------------*/

/*--------------------catalog----------------------*/

.catalog--page .filter-catalog-page {
  padding-bottom: 11px;
}

.catalog-page__filter-item {
  padding-top: 21px;
}

.title-filter__item {
  margin-top: 16px;
}

.title-filter__item .name-f {
  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.title-filter__item .row:first-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title-filter__item .row:first-child input[type=checkbox] {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.filter-catalog-page__header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 11px 5px 17px;
  height: 41px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41px;
  -ms-flex: 0 0 41px;
  flex: 0 0 41px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 1px 15px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 1px 15px 2px rgba(0, 0, 0, 0.25);
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.filter-sidebar-header__close {
  width: 18px;
  height: 18px;
  margin-right: 48px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.filter-sidebar-header__close img {
  width: 100%;
  max-height: 100%;
}

.filter-sidebar-header__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.filter-sidebar-header__abort {
  margin-left: auto;
  color: #002A93;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-decoration: none;
}

.filter-catalog-page__body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter-catalog-page__footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-bottom: 17px;
  text-align: center;
}

.filter-catalog-page__footer .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 278px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/*--------------------END catalog----------------------*/

/*# sourceMappingURL=maps/main.css.map */

@media only screen and (min-width: 480px) {
  .cart-page__right .accordion__content.hidden,
  .cart-page__left .accordion__content.hidden {
    display: block !important;
  }

  .cart-page__right .accordion__link:after,
  .cart-page__left .accordion__link:after {
    display: none;
  }

  .cart-page__right .accordion__content.hidden {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .cart-page__right .accordion__link {
    display: none;
  }
}

@media only screen and (min-width: 570px) {
  .header__filter-toggler {
    display: none;
  }

  .object-map-box__close {
    display: none;
  }

  .cart-page__left .prices-mob {
    display: none;
  }

  .info-cart-data-mob {
    display: none;
  }
}

@media only screen and (min-width: 571px) {
  .map-toggle__mob {
    display: none;
  }
}

@media only screen and (min-width: 740px) {
  .bottom-new-cat__bottom .btn span:last-child {
    display: none;
  }

  .mob-sort {
    display: none;
  }

  .filter-catalog-page__header {
    display: none;
  }

  .filter-catalog-page__footer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .wrap-new-main__second-box .btn {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .detail-page .catalog-page__list .catalog-page-item .price__per-month {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .prices-mob {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .price__per-month {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .cart-page__left .catalog-page-item__text1 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .detail-page .catalog-page__list .catalog-page__list-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-right: -11px;
  }

  .detail-page .catalog-page__list .catalog-page-item {
    width: -webkit-calc(25% - 22px);
    width: calc(25% - 22px);
    margin-left: 11px;
    margin-right: 11px;
    padding: 0;
    margin-bottom: 20px;
    border: none;
  }

  .detail-page .catalog-page__list .catalog-page-item .catalog-page-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .detail-page .catalog-page__list .catalog-page-item .catalog-page-item__photo {
    width: auto;
    display: block;
  }

  .detail-page .catalog-page__list .catalog-page-item .picture {
    width: auto;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 137px;
    width: 100%;
  }

  .detail-page .catalog-page__list .catalog-page-item .picture img {
    width: 100%;
  }

  .detail-page .catalog-page__list .catalog-page-item .catalog-page-item__text1 {
    margin-bottom: 0;
  }

  .detail-page .catalog-page__list .catalog-page-item .catalog-page-item__text1,
  .detail-page .catalog-page__list .catalog-page-item .title-object span {
    margin-top: 7px;
    display: block;
    font-size: 14px;
    line-height: -webkit-calc(16/14);
    line-height: calc(16/14);
  }

  .detail-page .catalog-page__list .catalog-page-item .title-object span {
    margin-bottom: 12px;
    font-weight: 500;
  }

  .detail-page .catalog-page__list .catalog-page-item .title-object div {
    margin-bottom: 12px;
  }

  .detail-page .catalog-page__list .catalog-page-item .hdr-advantages,
  .detail-page .catalog-page__list .catalog-page-item .detail-page .catalog-page__list .hdr-advantages,
  .detail-page .catalog-page__list .catalog-page-item .view-map,
  .detail-page .catalog-page__list .catalog-page-item .button-object,
  .detail-page .catalog-page__list .catalog-page-item .org,
  .detail-page .catalog-page__list .catalog-page-item .parameters,
  .detail-page .catalog-page__list .catalog-page-item .parameters2 {
    display: none;
  }

  .detail-page .catalog-page__list .catalog-page-item .price {
    border: none;
    text-align: left;
    margin-bottom: 0;
    padding-top: 0;
  }

  .detail-page .catalog-page__list .catalog-page-item .price__per-meter {
    display: none;
  }

  .detail-page .catalog-page__list .catalog-page-item .price__first .price__to {
    display: none;
  }

  .detail-page .catalog-page__list .catalog-page-item .price__first .bold-price {
    color: #000AFF;
    font-weight: 700;
    line-height: 110%;
  }

  .ann-list-page .catalog-page__list .catalog-page-item__text1 {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item {
    position: relative;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .catalog-page-item__photo {
    width: 181px;
    display: block;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .picture {
    width: 181px;
    max-height: 211px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .title-object,
  .ann-list-page .catalog-page__list .catalog-page-item .title-object span,
  .ann-list-page .catalog-page__list .catalog-page-item .title-object span a {
    color: #002A93;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .address {
    margin-bottom: 17px;
    font-size: 16px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .catalog-page-item__text2 {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .parameters {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .parameters li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .button-object__view {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .button-object__phone {
    background: #4B68B2;
    color: #fff;
    border: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .button-object__phone .num-short,
  .ann-list-page .catalog-page__list .catalog-page-item .button-object__phone .num-short strong {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .button-object__phone .show-num {
    display: inline;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .picture img {
    width: 100%;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .title-object div {
    margin-bottom: 12px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .price {
    border: none;
    text-align: left;
    margin-bottom: 0;
    padding-top: 0;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .price__per-meter {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .price__first .price__to {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .price__first .bold-price {
    color: #000AFF;
    font-weight: 700;
    line-height: 110%;
  }
}

@media only screen and (max-width: 1200px) and (max-width: 1200px) {
  .detail-page .catalog-page__list .catalog-page-item .address {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1060px) {
  .detail-page .bredcrumbs {
    margin-top: 17px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 980px) {
  .wrap-new-main__second-box ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    gap: 20px;
    font-size: 14px;
    line-height: -webkit-calc(16/14);
    line-height: calc(16/14);
  }

  .detail-page .catalog-page__list .catalog-page-item .price__first .bold-price {
    font-size: 14px;
  }

  .cart-page__right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: none;
  }

  .cart-page__right--one {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .detail-page .cart-page__left {
    margin-right: 0;
  }

  .cart-page__left .catalog-page-item:last-child {
    margin-bottom: 30px;
  }

  .landing-page .filter-catalog-page {
    padding-right: 18px;
  }

  .ann-list-page .catalog-page__list {
    margin-left: 12px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item__text1 {
    margin-right: 0;
  }

  .ann-list-page .catalog-page__list .catalog-page-item {
    line-height: normal;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .prices-mob {
    font-size: 12px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .title-object,
  .ann-list-page .catalog-page__list .catalog-page-item .title-object span,
  .ann-list-page .catalog-page__list .catalog-page-item .title-object span a {
    font-size: 14px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .parameters {
    font-size: 12px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .button-object {
    margin-top: 0;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .button-object__phone {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .price__first .bold-price {
    font-size: 14px;
  }

  .filter-catalog-page {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 228px;
    -ms-flex: 0 0 228px;
    flex: 0 0 228px;
    max-width: 228px;
  }
}

@media only screen and (max-width: 768px) {
  .catalog-page {
    margin-bottom: 39px;
  }

  .logo-top {
    margin-top: 6px;
  }

  .detail-page .info-cart-data {
    margin-top: 22px;
  }

  .detail-page .cart-page h1,
  .detail-page .cart-page__left h2 {
    color: #002A93;
  }

  .wrap-new-main__second-box {
    margin-left: 24px;
    margin-right: 24px;
  }

  .wrap-new-main__second-box ul li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .detail-page .catalog-page__list h3 {
    display: none;
  }

  .detail-page .catalog-page__list .bottom-button-panel {
    margin-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .detail-page .catalog-page__list .button-catalog {
    display: none;
  }

  .cart-page__right .bonus-cart {
    margin-bottom: 0;
  }

  .wrap-new-main__second-box .title-second-box {
    padding-left: 17px;
    padding-right: 17px;
  }

  .wrap-new-main__second-box {
    margin-left: 17px;
    margin-right: 17px;
  }

  .prices-mob__item {
    padding-right: 10px;
  }

  .ann-list-page .bredcrumbs {
    margin-top: 19px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .hdr-advantages,
  .ann-list-page .catalog-page__list .catalog-page-item .detail-page .catalog-page__list .hdr-advantages,
  .ann-list-page .catalog-page__list .catalog-page-item .view-map,
  .ann-list-page .catalog-page__list .catalog-page-item .org,
  .ann-list-page .catalog-page__list .catalog-page-item .parameters2 {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .landing-page .filter-catalog-page {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 180px;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    max-width: 180px;
    padding-left: 15px;
  }

  .filter-catalog-page {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 234px;
    -ms-flex: 0 0 234px;
    flex: 0 0 234px;
    max-width: 234px;
  }
}

@media only screen and (max-width: 740px) {
  .bottom-new-cat {
    padding-top: 19px;
    padding-bottom: 44px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #EEEFF3;
  }

  .pagination-catalog {
    text-align: center;
  }

  .pagination-catalog a {
    font-size: 14px;
  }

  .bottom-new-cat__bottom {
    text-align: center;
  }

  .bottom-new-cat__bottom .btn span:first-child {
    display: none;
  }

  .catalog-page {
    margin-bottom: 0;
  }

  .description-text {
    display: none;
  }

  .landing-page {
    margin-bottom: 0;
  }

  .landing-page .filter-catalog-page {
    display: none;
  }

  .ann-list-page h1 {
    margin-top: 27px;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 30px;
  }

  .ann-list-page .catalog-page .sort {
    display: none;
  }

  .ann-list-page .catalog-page__list {
    margin-left: 0;
  }

  .ann-list-page .catalog-page__list .catalog-page-item__text1 {
    margin-left: 0;
    margin-bottom: 0;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .prices-mob {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .title-object,
  .ann-list-page .catalog-page__list .catalog-page-item .title-object span,
  .ann-list-page .catalog-page__list .catalog-page-item .title-object span a {
    color: #3E3E3E;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .title-object div {
    font-size: 14px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .address {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .address {
    font-size: 14px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .catalog-page-item__text2 {
    display: block;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .parameters {
    display: none;
  }

  .ann-list-page .catalog-page__list .catalog-page__list-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-right: -11px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item {
    width: -webkit-calc(33.33333% - 22px);
    width: calc(33.33333% - 22px);
    margin-left: 11px;
    margin-right: 11px;
    padding: 0;
    margin-bottom: 20px;
    border: none;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .catalog-page-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .catalog-page-item__photo {
    width: auto;
    display: block;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .picture {
    width: auto;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 137px;
    width: 100%;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .title-object span {
    margin-bottom: 12px;
    font-weight: 500;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .button-object {
    display: none;
  }

  .catalog--page .filter-catalog-page {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    max-width: none;
    background-color: #fff;
    z-index: 99;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .catalog--page .filter-catalog-page.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .catalog-page__filter-item {
    padding-left: 26px;
    padding-right: 26px;
  }

  .subtitle-filter {
    padding-left: 10px;
  }

  .filter-catalog-page__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 17px;
    border-bottom: 1px solid rgba(96, 96, 96, 0.5);
  }

  .ann-list-page.catalog--page .sort {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }

  .ann-list-page.catalog--page .sort span {
    display: block;
    padding: 15px;
    margin-left: 0;
    color: #000;
    border-bottom: none;
    font-weight: 400;
  }

  .ann-list-page.catalog--page .sort span:first-child {
    display: none;
  }

  .ann-list-page.catalog--page .sort span.active-sort {
    background-color: #EEEFF3;
  }
}

@media only screen and (max-width: 700px) {
  .detail-page .catalog-page__list .catalog-page-item {
    width: -webkit-calc(33.33333% - 22px);
    width: calc(33.33333% - 22px);
  }
}

@media only screen and (max-width: 570px) {
  .detail-page.content {
    margin-bottom: 0;
  }

  .detail-page .bredcrumbs {
    display: none;
  }

  .detail-page .cart-page__left h2 {
    padding-left: 0;
    margin-left: 0;
  }

  .wrap-new-main__second-box ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0 17px;
  }

  .detail-page .catalog-page__list h3 {
    display: block;
  }

  .detail-page .catalog-page__list .catalog-page-item {
    width: -webkit-calc(50% - 22px);
    width: calc(50% - 22px);
  }

  .detail-page .catalog-page__list {
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 29px;
    width: auto;
    background-color: rgba(111, 128, 170, 0.08);
  }

  .detail-page .catalog-page__list h3 {
    line-height: 24px;
    margin-top: 0;
  }

  .header-filter {
    display: none;
  }

  .info-cart-data {
    display: none;
  }

  .map-toggle.map-opened {
    display: none;
  }

  .map-toggle {
    display: inline;
    margin-left: 0.625em;
    margin-top: 0;
    font-size: 1em;
  }

  .map-toggle__desk {
    display: none;
  }

  .wrap-new-main__second-box {
    margin-top: 24px;
    margin-left: -14px;
    margin-right: -14px;
    width: auto;
    max-width: none;
    background-color: #F4F5F8;
    padding-bottom: 29px;
  }

  .wrap-new-main__second-box .title-second-box {
    margin-right: 0;
    margin-left: 0;
  }

  .cart-page__left .catalog-page-item {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .cart-page__left .catalog-page-item:last-child {
    margin-bottom: 13px;
  }

  .cart-page__left .catalog-page-item:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -30px;
  }

  .cart-page__left .catalog-page-item .catalog-page-flex {
    display: block;
  }

  .cart-page__left .catalog-page-item .catalog-page-item__text1 {
    max-width: none;
    margin: 0;
  }

  .cart-page__left .catalog-page-item .catalog-page-item__text1 .org {
    display: none;
  }

  .cart-page__left .catalog-page-item .catalog-page-item__text2 {
    display: none;
  }

  .cart-page__left .praongallery {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .cart-page__left .description-object p {
    margin-bottom: 0;
  }

  .cart-page__left .main-cart-parameters,
  .cart-page__left .prod-cart-parameters,
  .cart-page__left .description-object {
    margin-left: 0;
  }

  .praongallery__slide {
    height: 0;
    position: relative;
    padding-bottom: 2.55%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-left: 4.5px;
    margin-right: 4.5px;
    overflow: hidden;
  }

  .praongallery__slide img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
  }

  .cart-page h1 > span {
    font-size: 16px;
    font-weight: 300;
  }

  .ann-list-page .catalog-page__list .catalog-page-item {
    width: -webkit-calc(50% - 22px);
    width: calc(50% - 22px);
  }
}

@media only screen and (max-width: 480px) {
  .wrap-new-main__second-box ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .detail-page .catalog-page__list .catalog-page-item .picture {
    height: 110px;
  }

  .right-info .num-short .btn {
    min-width: 0;
  }

  .cart-page__right--one {
    padding: 17px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .detail-page .owner-data .right-image {
    width: 78px;
    height: 78px;
    min-width: auto;
    min-height: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .cart-page__right {
    padding-left: 5px;
    padding-right: 5px;
  }

  .cart-page__left .accordion__item {
    margin-bottom: 13px;
  }

  .cart-page__left h2 {
    margin-bottom: 13px;
    margin-top: 0;
    font-weight: 400;
  }

  .cart-page__left .catalog-page-item .object-map--big {
    margin-top: 0;
    height: 193px;
  }

  .cart-page__left .catalog-page-item .address {
    margin-bottom: 0;
  }

  .cart-page__left .main-cart-parameters,
  .cart-page__left .prod-cart-parameters {
    display: block;
  }

  .cart-page__left .main-cart-parameters li,
  .cart-page__left .prod-cart-parameters li {
    margin-bottom: 10px;
    width: auto;
    padding-left: 30px;
  }

  .cart-page__left .prod-cart-parameters li:before {
    width: 4px;
    height: 4px;
    top: 8px;
    left: 9px;
  }

  .prices-mob {
    font-size: 12px;
  }

  .ann-list-page .catalog-page__list .catalog-page-item .picture {
    height: 110px;
  }
}

@media only screen and (max-width: 375px) {
  .header__filter-toggler {
    max-width: none;
    padding-right: 5px;
    padding-left: 60px;
    background-position: 30px 13px;
  }
}